<div class="service-style">
<pre>
<div class="service-title">游海商城用户保护隐私条款
</div>
尊重用户个人隐私是游海商城的一项基本原则，由于网络的本身特征，游海商城将无可避免地与个人用户产生直接或间接的互动关系，故本条款旨在说明游海商城和用户个人之间就有关用户信息的收集、使用和保护政策的约定：

一、 定义

“隐私”是指用户为获得游海商城产品和服务而提供给游海商城的个人资料，包括但不限于真实姓名、身份证件号码、手机号码、电子邮箱、密码保护提示问题及标准答案。用户账号下的角色、虚拟道具等信息及使用游戏时产生的数据属游海商城所有，不属于本条款所指的隐私。

二、会员建立

当您访问游海商城平台时，会有建立游海商城会员的选项。如果您选择建立游海商城会员，在您的同意及确认下，游海商城将要求您提供一些个人资料，包括您的电子邮件等信息来建立新用户，游海商城会将您选择要提供的信息储存在一个安全的数据库中（以下简称为“基本资料”）。

三、登入

当您访问一个游海商城自行开发或者代理的游海游戏及其它收费服务站台，而且选择登入该站台时，您的基本资料会安全地传送至该站台，如此可以节省您在网站之间移动时需要重复输入信息的时间。游海商城使用先进的加密技术尽可能保障您基本资料的安全及隐私。

四、存取您的基本资料

您可以在任何时候通过使用游海商城会员服务，新增或更新您的基本资料。如果您使用的是公用的计算机，每当您结束浏览时，您有义务注销游海商城会员，以确保其它人无法存取您的基本资料。

五、隐私权原则

对游海商城而言，如何让您通过游海商城使用互联网提供的资源时，同时在游海商城现有设备及技术条件下保有您的隐私权是游海商城当前相当重要的课题。因此，游海商城采取下列几项原则尽可能地保护您的隐私权：

原则一：个人资料确认

当你同意建立游海商城会员的时候，会要求你提供一些个人资料，这些个人资料包括：

1. 个人识别资料：如姓名、性别、年龄、出生日期、身份证号码(或护照号码)、电话、通信地址、住址、电子邮件地址等情况。

2. 个人背景：职业、教育程度、收入状况、婚姻、家庭状况。

3. 验证信息：密码提示问题、个人资料验证信息等用于保护用户个人资料不被冒用、盗用的信息。

原则二：使用非个人化信息

游海商城将通过您的IP地址来收集非个人化的信息，例如您的浏览器性质、操作系统种类、给您提供接入服务的ISP域名等，以优化在您计算机屏幕上显示的页面。通过收集上述信息，游海商城也进行客流量统计，从而改进网站的管理和服务，或进行网络行为的调查或研究。

原则三：基本资料保护及处理

1. 游海商城将对您所提供的资料在现有条件下进行严格的管理及保护，游海商城将使用现有相应的技术，尽力防止您的个人资料丢失、被盗用或遭篡改。

2. 游海商城将视情况在必要时委托专门的技术人员代为对该类资料进行电脑处理，以符合专业分工时代的需求。

原则四：安全的资料储存与转送

游海商城使用的服务器提供控制设备保护，您的基本资料储存在该服务器。当您要求将基本资料传送到某个支持网站时，游海商城会加密您的基本资料，然后使用先进的加密技术将基本资料传送到该网站。

原则五：限制利用原则

游海商城只有在符合下列条件之一，方对收集的基本资料进行必要范围以外利用：

1. 已取得您的书面同意。

2. 为免除您在生命、身体或财产方面之急迫危险。

3. 为防止他人权益之重大危害。

4. 为维护游海商城的合法权益。

5. 为增进公共利益，且无害于您的重大利益。

原则六：个人资料的披露

未经用户许可游海商城不得向任何第三方披露、提供、公开或共享用户注册资料中的姓名、个人有效身份证件号码、联系方式、家庭住址等个人身份信息，但下列情况除外：

1. 用户或用户监护人授权游海商城披露的；

2. 有关法律要求游海商城披露的；

3. 司法机关或行政机关基于法定程序要求游海商城提供的；

4. 游海商城为了维护自己合法权益而向用户提起诉讼或者仲裁时；

5. 应用户监护人的合法要求而提供用户个人身份信息时；

6. 在紧急情况下为保护社会公共利益需要而披露用户的个人资料的。

在上述除外情况下游海商城披露个人资料，游海商城不承担责任。

原则七：有关免责

除上述原则六、原则七规定属免责外，下列情况游海商城得以免责：

1. 游海商城将努力采取商业上的合理方式以保护用户的隐私安全，并使用商业上合理的安全技术措施来保护用户隐私不被未经授权的访问、使用或泄漏。但游海商城仍然不能保证现有的安全技术措施能使用户的个人资料等信息不受任何形式的损失。在游海商城已采取商业合理方式保护用户隐私安全且游海商城无主观故意情况下，对用户个人资料的泄漏游海商城得以免责。

2. 由于您将用户密码告知他人或未保管好自己的密码或与他人共享注册账户或任何其它非游海商城的过错，由此导致的任何个人资料泄露。

3. 任何由于计算机问题、黑客攻击、计算机病毒侵入或发作、电信部门技术调整导致之影响、因政府管制而造成的暂时性关闭、由于不可抗力原因(包括火灾、水灾、雷击、地震、洪水、台风、龙卷风、火山爆发、瘟疫和传染病流行、罢工、战争或暴力行为或类似事件等)造成游海商城不能正常发布以及其它影响网络正常经营之不可抗力及其它任何非因游海商城过错而造成的个人资料泄露、丢失、被盗用或被篡改等。

4. 由于非游海商城原因，与游海商城链接的其它网站所造成的个人资料泄露及由此而导致的任何法律争议和后果。

5. 任何个人用户，包括未成年人用户向游海商城提供错误、不完整、不实信息等造成不能正常使用游海商城服务或遭受任何其它损失，游海商城不承担责任。

6. 为了网站的正常运行，需要定期或不定期地对网站进行停机维护，因此类情况而造成的正常服务中断等。

7. 本条款为《游海商城用户协议》的补充，为《游海商城用户协议》不可分割的一部分，与其具有同等法律效力。
</pre>
</div>
