  <table class="table">
    <thead>
     <tr>
        <th>文章内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.content %></td>
          <td><%= product.user.email %></td>
          <td><%= product.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
