<table class="table">
  <thead>
   <tr>
      <th>文章内容</th>
      <th>发表者</th>
      <th>发表时间</th>
    </tr>
  </thead>
  <tbody>
    <% @product_lists.each do |product_list| %>
      <tr>
        <td>
          <%= product_list.product_name %>
        </td>
        <td>
          <%= product_list.product_price %>
        </td>
        <td>
          <%= product_list.quantity %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
