<div class="cart-box-payment">
  <h2 class="cart-title"> 游海收银台 </h2>
  <div class="payment-body">
    <h1>支付完成！</h1>
    <br>
    <p>商品将在 24 小时内发货，请耐心等候</p>
    <br>
    <%= link_to("< 继续购物", products_path, class: "payment-btn") %>
  </div>
</div>
