/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'bootstrap/scss/bootstrap';
@import "font-awesome";


//导航栏logo样式
  .navbar-brand > img {
      display: inline-block; //图片和链接文字显示在同一行
      margin-right: 10px; //图片和链接文字拉开一点距离
      width: 32px; //定制图片宽度
      height: 25px; //定制图片高度
  }

//导航栏背景颜色
.navbar-backgroundcolor{
  background-color: #222325;
}

//导航栏字体颜色
.navbar-default .navbar-brand {
color: #F5F5F5; //字体颜色

}

//导航栏链接颜色
 .navbar-default .navbar-nav > li > a{
   color: #F5F5F5;

 }

 //鼠标放在链接上的颜色
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #FF6F00;

    background-color: transparent;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #FF6F00;

    background-color: #FFE0B2;

  }

  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:focus,
  .navbar-default .navbar-nav > .open > a:hover {
    background-color: #FFE0B2;

    color: #212121;
  }

//去掉导航栏圆角
  @media (min-width: 768px) {
    .navbar {
      border-radius: 0; //圆角为0
    }
  }

//去除白色边框
  .navbar-default {
    border-color: transparent;}


//footer背景颜色
  .footer-backgroundcolor{
    background-color: #E0E0E0;
    height: 360px;
    margin-top: 360px;
  }

//footer文字样式
  .footer-font{
    margin-top: 50px;
    margin-right: 540px;
    word-spacing: 80px;
  }

 .footer-font-right{
   margin-top: 20px;
   margin-left: 910px;
 }

 .footer-font-big{
   color: #5079d9;
   font-size: 20px;
 }

//关于商店和隐私条款的内容高度
 .page-height{
   height: 200px;
 }
