/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';
@import "font-awesome";

//设置所有页面的背景颜色
body{
  background:#ededed
}

//内容最低高度,用来撑开内容,不让footer上来
.container{
  min-height: 500px;;
}

//底部游海两字样式
.footer-font{
  font-size: 30px;
  padding-right: 2px;
  font-weight: 500;
  color: #039be5;
}

//导航栏logo样式
.navbar-brand > img {
  display: inline-block; //图片和链接文字显示在同一行
  margin-right: 10px; //图片和链接文字拉开一点距离
  margin-bottom: 8px;
  width: 48px; //定制图片宽度
  height: 37.5px; //定制图片高度
}


//底部logo样式
.bottom-brand > img {
  display: inline-block; //图片和链接文字显示在同一行
  margin-right: 10px; //图片和链接文字拉开一点距离
  width: 32px; //定制图片宽度
  height: 25px; //定制图片高度
  margin-bottom: 12px;
}

//导航栏背景颜色
.navbar-backgroundcolor{
  background-color: #222325;
}

//导航栏游海商城样式
a.navbar-brand{
  color: #039be5;

}

//游海两字样式
.title-font{
  font-size: 30px;
  padding-right: 2px;
  font-weight: 500;
}


//导航栏链接颜色
.navbar-default .navbar-nav > li > a{
  color: #F5F5F5;
 }

//导航栏链接字体颜色
a.nav-link{
  color: #a9cedc;
  font-size: 18px;
  margin-right: 10px;
}
//导航栏链接字体鼠标悬浮时样式
a.nav-link:hover{
  color: #039be5;
}

//导航栏背景颜色
.navbar-background-color{
  background-color: #1e212c;
  height: 80px;
}


.category-array{
  display: flex;
  align-items: center;
  color: white;
  margin-left: 20px;
}

//导航栏下拉选单字体背景颜色以及字体颜色
.dropdown-item{
  color: #039be5;
  background: #263238;
}

//导航栏下拉选单整体背景颜色
.dropdown-menu-right{
  background: #263238;
}

//去掉导航栏圆角
@media (min-width: 768px) {
.navbar {
  border-radius: 0; //圆角为0
}
}

//去除白色边框
.navbar-default {
  border-color: transparent;}

//购物车镶嵌板背景颜色
.panel-default .panel-heading{
  background-color: white;
}

//footer盒子
.footer-box{
  background-color: #09101f;
  height: 235px;
}


//footer上半部文字样式
.footer-allfont{
  align-items: center;
  margin-top: 100px;
  width: 1218px;
  margin-left: 135px;
}

//上左部分字体
.footer-font-left{
  margin-top: 20px;
  font-size: 12px;
  float: left;
  line-height: 25px;
  padding: 7px 0;
}

//底部链接样式
.footer-information{
a:link {
  color: #5099bd;
  margin-right: 5px;
}
}

//底部字样样式
.footer-information{
  color: #5099bd;
}

.footer-information-bootom{
  color: #66707a;
}

//底部链接的竖线样式
.footer-vertical{
  color: #5099bd;
  font-weight: 200;
  margin-left: 5px;
  margin-right: 2px;
}

.footer-font-right{
  margin-top: 21px;
  float: right;
}

//微信扫码图片
.footer-font-right img{
  margin-top: 12px;
  width: 140px;
  height: 140px;
  filter: brightness(70%);
}

//微信扫码图片下面的文字
.wechat-bottom{
  color: #616161;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.footer-font-big{
  float: right;
  position: relative;
  color: #5079d9;
  font-size: 17.5px;
  font-weight: 550;
  line-height: 1;
  cursor: default;
  letter-spacing: -0.5px;
 }

.footer-font-small{
  font-size: 12px;
  line-height: 1;
  color: #999;
  margin-top: -25px;
  text-align: right;
  font-weight: 330;
}

.footer-font-small-bottom{
  font-size: 12px;
  line-height: 1;
  color: #999;
  float: right;
  margin-top: -10px;
  font-weight: 340;
}

//footer的在线帮助按钮样式
.button-default1{
  background-color: #fafafa;
  border: 1px solid #d0d0d0;
  color: #5079d9;
  padding: 5px 36px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: -10px;
  font-weight: 520;
}

//footer分割线
.footer-hr{
  background-color: white;
  width: 1220px;
  margin-left: 135px;
}

//footer下半部字体样式
.footer-font-bottom{
  float: left;
  line-height: 12px;
  color: #bdbdbd;
  padding: 0;
  font-size: 12px;
  width:1218px;
  margin-left: 135px;
  margin-top: -60px;
}

//关于商店和隐私条款的内容高度
.page-height{
  height: 200px;
}

//取消列表前面的圆点
li{
  list-style: none;
}

 //卡片主体内容
.card{
  margin-left: -1px;
  margin-top: -1px;
  padding:20px;
  width: 305px;
  height: 429px;
  border-right: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  border-radius: initial;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .15s ease-out;
  transition: -webkit-box-shadow .15s ease-out;
  transition: box-shadow .15s ease-out;
  transition: box-shadow .15s ease-out,-webkit-box-shadow .15s ease-out;
  border-radius: 0px;
  display: flex;//指示块状元素，可调整高度，行高以及顶和底边距，总是从新行开始
  vertical-align: top;//高度对齐
  text-align: center;
  cursor: pointer;//鼠标悬停时会变成什么样子，pointer是手掌的样子
  overflow: hidden;
}

//登录页面卡片
.devise-box{
  margin-top: 97px;
  margin-left: 333px;
  background-color: white;
  border-radius: 8px;
  position: relative;
  border: 1px solid rgba(0,0,0,.14);
  overflow: hidden;
  padding: 38px;
  box-shadow: 0px 10px 30px 0.1px rgba(0, 0, 0, 0.2);
}

//登录页面顶部sign in字样
.session-sign-in{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 1px;
}

//登录页面账户输入框样式
.session-email {
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  outline: none;
  border: 0;
  border-bottom:2px solid #BDBDBD;
  border-radius: 0px;
  background: white;
  margin-bottom: 40px;
  padding-left: 0px;
}

//登录页面密码输入框样式
.session-password {
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  outline: none;
  border: 0;
  border-bottom:2px solid #BDBDBD;
  border-radius: 0px;
  background: white;
  padding-left: 0px;
}

//登录页面账户输入框点击时样式
.session-email:focus {
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  border-bottom:3px solid #8C9EFF;
  overflow: hidden;
}

//登录页面密码输入框点击时样式
.session-password:focus {
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  border-bottom:3px solid #8C9EFF;
  overflow: hidden;
}

//登录页面sign_in输入框
.Sign-in-bottom{
  height: 40px;
  background: #5f7ed7;
  border-radius: 3px;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 50px;
}

//注册页面顶部sign up字样
.session-sign-up{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 500;
  word-spacing: 1px;
  letter-spacing: 1px;
}

//注册页面输入框样式
.session-sign-up-email{
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  outline: none;
  border: 0;
  border-bottom:2px solid #BDBDBD;
  border-radius: 0px;
  background: white;
  margin: 0px;
  padding-left: 0px;
}

//注册页面密码输入框样式
.session-sign-up-password{
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  outline: none;
  border: 0;
  border-bottom:2px solid #BDBDBD;
  border-radius: 0px;
  background: white;
  margin-top: 38px;
  padding-left: 0px;
}

//注册页面输入框点击时样式
.session-sign-up-email:focus{
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  border-bottom:3px solid #8C9EFF;
  overflow: hidden;
}

//注册页面sign_up输入框
.Sign-up-bottom{
  height: 40px;
  background: #5f7ed7;
  border-radius: 3px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}

//注册页面密码输入框点击时样式
.session-sign-up-password:focus{
  -webkit-appearance:none;
  -moz-appearance: none;
  -webkit-box-shadow: 0 0 0 1000px white inset;
  border-bottom:3px solid #8C9EFF;
  overflow: hidden;
}

.pull-left-1{
  text-align: left;
}

.will-page-style{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
