// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//购物车的卡片
 .cart-box{
   margin-top: 30px;
   margin-left: -55px;
   background-color: white;
   border-radius: 8px;
   width: 1218px;
   position: relative;
   border: 1px solid rgba(0,0,0,.14);
   overflow: hidden
 }

//购物清单那一行
 .cart-title{
   position: relative;
   z-index: 10;
   height: 60px;
   padding: 0 10px 0 30px;
   border-bottom: 1px solid #dbdbdb;
   border-radius: 8px 8px 0 0;
   background: #fafafa;
   line-height: 60px;
   font-size: 18px;
   color: rgba(0,0,0,.6);
   margin-bottom: -1px;
 }

//商品信息那一行
 .cart-table-title{
   position: relative;
   z-index: 1;
   padding: 10px 10px;
   font-size: 12px;
   font-weight: 400;
   background: #f5f5f5;
   border-bottom: 1px solid #dbdbdb;
   border-bottom-color: rgba(0, 0, 0, 0.08);
   color: #838383;
   margin-bottom: -1px;
 }

 .name{
  padding-left: 20px;
  padding-right: 600px;
 }

 .price{
  padding-right: 100px;
 }

 .num{
  padding-right: 100px;
 }

 .subtotal{
  padding-right: 100px;
 }

 .operation{

 }

 .cart-table{

 }

 .cart-group{
  display: flex;
 }

 .cart-box-image .thumbnail{
   height: 80px;
   width: 80px;
   border: 1px solid #dbdbdb;
   border-radius: 5px;
 }

 .cart-box-image{
  padding-left: 74px;
  padding-top: 30px;
 }

 .cart-name{
  padding-left: 20px;

 }

 .cart-price{

 }

 .cart-num{

 }

 .cart-subtotal{

 }

 .cart-operation{

 }
