<div class="footer-box">
<footer>
  <div class="footer-allfont">
    <div class="footer-font-left">
      <div class="footer-information-bootom">
      <a href="https://weibo.com/" class="footer-information">新浪微博</a><span class="footer-vertical">|</span>
      <a href="/images/wechat.png" class="footer-information">官方微信</a><span class="footer-vertical">|</span>
      <a href="abouts" class="footer-information">关于商城</a><span class="footer-vertical">|</span>
      <a href="services" class="footer-information">隐私条款</a><span class="footer-vertical">|</span>
      <a href="https://www.smartisan.com/" class="footer-information">图片资源</a><span class="footer-vertical">|</span>
      <a href="https://www.smartisan.com/" class="footer-information">购买指南</a><span class="footer-vertical">|</span>
      <a href="https://www.smartisan.com/" class="footer-information">版权保护投诉指引</a><span class="footer-vertical">|</span>
      <a href="https://www.smartisan.com/" class="footer-information">家长监护工程</a>
      <div>Copyright © 2021 YouHai Culture Technology</div>
      游海文化科技有限公司 Youhai.com 广东省广州市黄埔区深井古村南田大街8号
      <p>健康游戏公告：　抵制不良游戏　拒绝盗版游戏　注意自我保护　谨防受骗上当　适度游戏益脑　沉迷游戏伤身　合理安排时间　享受健康生活</p>
      </div>
    </div>
    <div class="footer-font-right">
          <img src="/images/wechat30.jpeg" >
          <div class="wechat-bottom">扫码关注官方微信</div>
    </div>
  </div><br><br>
    <div class="footer-font-bottom">
       <br><span class="bottom-brand" ><img src='<%= image_url 'logo.png' %>' ></span><span class="footer-font">游海</span>
    </div>
</footer>
</div>
