<div class="footer-container">
<footer class="container-fluid" style="padding-left: 208px; padding-right: 208px">
  <div class="footer-allfont">
    <div class="footer-font-left">
      <li style="color:#646464 font-weight: 700; padding-bottom: 14px">
      订单服务
      服务支持
      媒体中心
      关注我们
      </li>
      <li style="font-weight: 320;">
      <a href="https://weibo.com/" style="color:#969696;">新浪微博</a>
      <a href="/images/wechat.png" style="color:#969696;">官方微信</a>
      <a href="abouts" style="color:#969696;">关于商店</a>
      <a href="services" style="color:#969696;">隐私条款</a>
      </li>
      <li style="font-weight: 320;">
      <a href="https://www.smartisan.com/" style="color:#969696;">官方视频</a>
      <a href="https://www.smartisan.com/" style="color:#969696;">图片资源</a>
      <a href="https://www.smartisan.com/" style="color:#969696;">新闻动态</a>
      <a href="https://www.smartisan.com/" style="color:#969696;">购买指南</a>
      </li>
    </div>
    <div class="footer-font-right">
    <p class="footer-font-big">
    400 - 603 - 5000
    </p>
    <br>
    <p class="footer-font-small">
    周一到周日 9:00 - 18:00
    </p>
    <p class="footer-font-small-bottom">
    (仅收市话费)
    </p>
    <br>
    <div class="pull-right button button-default" >
      <i class="fa fa-question-circle"></i>
      <style>
        a { color: #5079d9; }
      </style>
      <%= link_to("在线帮助", abouts_path) %>
    </div>
    </div>
  </div><br><br><br><br><br><br><br><br><br>
    <hr style="background-color:#FAFAFA;height:0.1px; margin-top:9px">
    <div class="footer-font-bottom">
    Copyright ©2021 JYstore ｜ 锤子商城隐私政策
        <br><br>Design by Stephen Zhong
    </div>
</footer>
</div>
